In [0]:
import os
import pandas as pd
from scipy.stats import zscore

In [0]:
df = pd.read_csv("series-31.csv")
df['time'] = pd.to_datetime(df['time'],errors='coerce')
df.head(5)

In [0]:
df['date'] = df['time'].apply(lambda x: str(x).split(' ')[0])
df['hour'] = df['time'].apply(lambda x: int(''.join(str(x).split(' ')[1].split(':'))))

In [0]:
g = df['value'].groupby(df['date'])
sorted_df = df.groupby(["date"]).apply(lambda x: x.sort_values(["hour"], ascending = True)).reset_index(drop=True)
f = sorted_df['value'].groupby(sorted_df['date'])
new_df = pd.DataFrame({'date':g.max().index, 'starting':f.first().values, 'max':g.max().values, 'min':g.min().values, 'ending':f.last().values})

In [0]:
new_df